<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<% end %>

<% if flash[:notice] %>
<div id="notify">
  <h2>Important</h2>
  <h3>Email replies may get placed in your junk mail folder</h3>
  <p>You should receive a confirmation email from <strong>help@aphotofolio.com</strong> in just a moment. You'll also receive an email every time we reply to your ticket–generally within a few hours. If you don't see a confirmation email 
    in your inbox, check your junk mail folder and be sure to allow emails from <strong>help@aphotofolio.com</strong>. </p>
</div>
<% end %>


<h2>Ticket <%=h @ticket.key %> <% if current_user %><span><%= link_to 'staff reply', ticket_url(@ticket) %></span><% end %></h2>
<h3><%=h @ticket.subject %> <span>(<%=h @ticket.category.name %>)</span></h3>

<div class="ticket_body">
  <p class="timestamp">On <%= @ticket.created_at.strftime('%a %m/%d at %I:%M%p %Z') %> <%= mail_to @ticket.email, @ticket.name %> of <%= link_to @ticket.domain, @ticket.domain.match('http://') ? @ticket.domain : 'http://'+@ticket.domain %> wrote:</p>
  <%=h @ticket.body %>
</div>

<h3>Replies</h3>
<%= '<p>There are no additional messages for this ticket</p>' if @ticket.messages.blank? %>
<%= render :partial => @ticket.messages %>

<h3>Add a reply to this ticket</h3>


<% form_for [@ticket, Message.new], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>


  <%= f.text_area(:body) %>
  
  
  <p>
    <%= f.label :attachment, 'Attach a file to this message' %><br />
    <%= f.file_field :attachment %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>