<% div_for message, :class => message.classes do %>

  <% if message.user %>
  <div class="avatar">
    <%= image_tag message.user.avatar.url(:thumb) if message.user.avatar.file? %>
  </div>
  <% end %>
  <p class="timestamp">On <%= message.created_at.to_s(:short) %> 
    <%= message.user ? message.user.name : 'someone' %> 
    wrote:</p>
    
    <div class="message_body"><%= message.body %></div>
    
    <% if message.attachment.file? %>
    <div class="attachment">
    <%= link_to truncate(message.attachment_file_name), message.attachment.url %>
    </div>
    <% end %>
<% end %>