<% div_for message, :class => message.classes do %>

  <% if message.user %>
  <div class="avatar">
    <%= link_to image_tag(message.user.avatar.url(:thumb)), message.user.avatar.url(:small), :rel => 'facebox' if message.user.avatar.file? %>
  </div>
  <% end %>
  <p class="timestamp">On <%= message.created_at.strftime('%a %m/%d at %I:%M%p %Z') %> 
    <%= message.user ? message.user.name : 'someone' %> 
    wrote:</p>
    
    <div class="message_body"><%= message.body %></div>
    
    <% if message.attachment.file? %>
    <div class="attachment">
    <%= link_to truncate(message.attachment_file_name), message.attachment.url %>
    </div>
    <% end %>
<% end %>