<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<% end %>

<h2>Editing faq</h2>

<% form_for(@faq) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p><%= f.label :body %></p>
    <%= fckeditor_textarea(:faq, :body, :toolbarSet => 'Basic', :width => '90%', :height => '400px') %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @faq %> |
<%= link_to 'Back', faqs_path %>
