<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<% end %>
<h2>New faq</h2>

<% form_for(@faq) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :category_id, 'Category' %><br />
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.label :url, 'External URL (leave blank to use body)' %><br />
    <%= f.text_field :url %>
  </p>
  <p><%= f.label :body %></p>
  <%= fckeditor_textarea(:faq, :body, :toolbarSet => 'Basic', :width => '90%', :height => '400px') %>
  
  
  <p>
    <%= f.submit "Create" %> or <%= link_to 'go back', faqs_path %>
  </p>
<% end %>


