<% content_for :head do %>
<%= javascript_include_tag :fckeditor %>
<% end %>
<h2>Ticket <%=h @ticket.key %> <span><%= link_to 'customer view', view_by_key_url(@ticket.key) %></span></h2>

<h3><%=h @ticket.subject %> <span>(<%= @ticket.category.name %>)</span></h3>
<div id="status">
  <strong>Status: <%= @ticket.state %></strong>
  <%= link_to_remote "I'm working on this", :url => research_ticket_url(@ticket) if @ticket.state == 'fresh' %>
</div>
<div class="ticket_body">
  <p class="timestamp">On <%= @ticket.created_at.strftime('%a %m/%d at %I:%M%p %Z') %> <%= mail_to @ticket.email, @ticket.name %> of <%= link_to @ticket.domain, @ticket.domain.match('http://') ? @ticket.domain : 'http://'+@ticket.domain unless ticket.domain.blank? %> wrote:</p>
  <%=h @ticket.body %>

<p><b>U:</b> <%=h @ticket.username %> / <b>P:</b> <%=h @ticket.password %></p>

</div>

<h3>Messages</h3>
<%= '<p>There are no additional messages for this ticket</p>' if @ticket.messages.blank? %>
<%= render :partial => @ticket.messages %>

<h3>Reply to this ticket</h3>


<% form_for [@ticket, Message.new], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>


  <%= fckeditor_textarea(:message, :body, :toolbarSet => 'Basic', :width => '90%', :height => '400px') %>

  <p>
    <%= check_box_tag :close_ticket %> <label for="close_ticket">Close this ticket</label>
  </p>
  
  <p>
    <%= f.label :attachment, 'Attach a file to this message' %><br />
    <%= f.file_field :attachment %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>