<h2>Current Categories <span><%= link_to 'new category', new_category_path %></span></h2>


<div id="categories">
<%= render :partial => @categories %>
</div>

<h3>New category</h3>

<% remote_form_for(@category, :html => {:id => 'category_form'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
